@model inviWebApp.Models.Habitar

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estas Seguro de Borrar?</h3>
<div>
    <h4>Habitar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurpNavigation.Curp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViviendaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViviendaNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
